.header {
  padding: 20px; 
  background-color: #5e5e5e;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

h1{
  margin: 15px;
}



.search-form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 8px;  
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

input[type="text"].input-invalid {
  border-color: red;
}

button {
  padding: 8px 12px;  
  font-size: 16px;
  background-color: #0079d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005999;
}
