*,
*::before,
*::after {
  box-sizing: border-box;
}

.post-item {
  padding: 20px;
  margin: 10px;
  border: 1px solid #e0e0e0;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.subreddit {
  color: black;
  font-style: italic;
}

.post-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-item img.post-image {
  width: 100%;
  color: rgb(74, 145, 151);
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.post-item img.default-image {
  width: 50%;
  max-width: 180px;
  height: auto;
  object-fit: contain;
  margin: 0 auto 15px;
  display: block;
}

.post-item h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-author {
  font-weight: bold;
  color: #2a30f8;
  margin-right: auto;
  font-size: 16px;
}

.post-date {
  font-style: italic;
  color: #2e2e2e;
  margin-left: auto;
}

.post-footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

.comment-icon {
  margin-right: 8px;
  color: #5f5f5f;
}

.comment-count {
  font-size: 0.9em;
  color: #4c4c4c;
}
