
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  .post-item {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    width: 100%; 
    max-width: 600px; 
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
  }
  
  .post-item:hover {
    background-color: #f7f7f7;
  }
  
  .post-item h2 {
    margin: 0;
    font-size: 18px;
    color: black;
  }
  
  .post-item p {
    margin: 5px 0 0;
    color: #888;
  }